<!--
@Author: Vargas Hector <vargash1>
@Date:   Wednesday, March 30th 2016, 6:03:52 am
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Monday, April 11th 2016, 10:38:10 pm
-->

{% extends "base.html" %}

{% block head_title %}vRaspi{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle " data-toggle="collapse">
     </button>
      <a class="navbar-brand" href="/vraspiapp"> vRaspi <i class="fa fa-home"></i></a>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
    <br></br>
    <div class = "usergreeting" id="container">
        <p><i class="fa fa-hourglass-end"></i> Coming Soon!... </p>

        <a href="/vraspiapp" ><p><i class="fa fa-home"></i></p></a>
    </div>
    <div id="output_box"></div>
    <meta http-equiv="refresh" content="5" />
{% endblock %}
