<!--
@Author: Vargas Hector <vargash1>
@Date:   Wednesday, March 30th 2016, 6:03:52 am
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Tuesday, April 12th 2016, 4:40:20 am
-->

{% extends "base.html" %}

{% block head_title %}vRaspi{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle " data-toggle="collapse">
     </button>
      <a class="navbar-brand" href="/vraspiapp"> vRaspi <i class="fa fa-home"></i></a>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
    <br></br>
    <div class = "usergreeting" id="container">
        <i class="zmdi zmdi-nature"></i> {{housetemp}}
    </div>
    <div class = "usergreeting">
    {% for element in data %}

        {% if element.motion %}
            <i class="zmdi zmdi-walk"></i> {{element.motion}}
            <i class="zmdi zmdi-time"></i> {{element.time}} <br>
        {% elif element.ultra %}
            <i class="zmdi zmdi-input-antenna"></i> {{element.ultra}}
            <i class="zmdi zmdi-time"></i> {{element.time}} <br>
        {% elif element.light %}
            <i class="zmdi zmdi-lamp"></i> {{element.light}}
            <i class="zmdi zmdi-time"></i> {{element.time}} <br>
        {% elif element.sound %}
            <i class="zmdi zmdi-speaker"></i> {{element.sound}}
            <i class="zmdi zmdi-time"></i> {{element.time}} <br>

        {% endif %}
    {% endfor %}
    </div>
    <meta http-equiv="refresh" content="7" />
{% endblock %}
