{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top"  role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle " data-toggle="collapse">
     </button>
      <a class="navbar-brand" href="/vraspiapp"> vRaspi <i class="fa fa-home"></i>/a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  <h2 align="center"> You have registered!</h2>
  <p align="middle"> Click the cap <a href="/vraspiapp"> <i class="fa fa-graduation-cap"></i></a> to login!</p>
{% endblock %}
